FONT{
    color:blue;
}
#ch{
    height: 80px;
    width: 150px;
    text-align: center;
}
#b{
    font-size: 18px;
}
#x{
    font-size: 20px;
}
#z{
   font-size: 14px;
}
#B{
    text-decoration: none;
    color: black;
}
#nya{
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.n{
    padding-top: 28px;
}
.h{
    display: flex;
}

nav{
    text-align:right;
}
h1{
    font-size:50px;
    text-align:center;
}
h2{
    text-align: center;
    font-size: 35px;
    color:blue;
}
.vision {
    height:2px;
    width: 15%;
    margin: auto;
}
.img{
    padding-top:200px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.text {
    padding-left: 620px;
    font-size:22px;
}
.head{
    width: 100%
}
